customtkinter
google-generativeai
pdfplumber
python-pptx
python-docx
pytube
openai-whisper
elevenlabs
soundfile
numpy
torch
pytesseract
Pillow
PyMuPDF
requests
ocrmypdf
genanki
youtube-transcript-api
tqdm
pydub
ebooklib
streamlit
PySide6
kokoro
